    /* -------------------- Preguntas - inicio -------------------- */

.titularpreguntas{
    font-size: 40px;
    color: $color1;
    text-align: center;
    justify-content: center;
    padding: 5%;
    }

.preguntas{
    color: $color1;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    }
